<title>PBShintre</title>
<div class="container-fluid; main">
<div style="color:white ;" class="row">
  
    <div class="col-md-6"><p class="text" style="font-size: 30px; font-weight: bold;"><a style="color: aqua;">Hello,</a> it's me</p> 
      <p  style="font-size: 50px; font-weight: bold; color: orange; margin-left: 100px;">Prasad ✨</p><br>
      <p class="paragraph-2">An enthusiastic Electrical Enginner currently shaping the future in software development by designing smooth web-applications using Java and angular | Programmer Analyst by profession | AWS Solution Architect in between  | Self leanred Trader and Investor -Stocks/Forex/Crypto's </p>
      <a style="margin-left: 100px; cursor: pointer; ">⚡🧑‍💻⚽☁️💲₿🚀</a>
      
    </div>
    <div class="col-md-6"> <img src="assets/images/IMG_3267.jpg" class="img1"></div>
  
</div>
<br>
<div style="line-height:30px;"><br></div>
<br>
<div style="color:white; text-align: center;" class="row">
  
    <div class="col-md-12">
      <h1 style="text-align: center; font-weight: lighter;font-size: 35px;">Contact/Follow me</h1> 
      <p style="text-align: center; font-size: 20px; font-weight: normal; font-style: italic; opacity: 50%;">Scroll down & Let's connect with me for better future of us</p>
      <h3 style="color:white;"><span class="bi bi-twitter"></span> Twitter: <a href="https://twitter.com/prasadshintre7?s=09" style="color: aquamarine; font-weight: lighter;">@prasadshintre7</a></h3>
      <h3 style="color:white;"><span class="bi bi-instagram"></span> Instagram: <a href="https://instagram.com/prasad_shintre_7" style="color: aquamarine; font-weight: lighter;">prasad_shintre_7</a></h3>
      <h3 style="color:white;"><span class="bi bi-youtube"></span> Youtube: <a href="https://youtube.com/channel/UCmPQH2aD5dZSra-vYqYiJ2Q  " style="color: aquamarine; font-weight: lighter;">prasad shintre</a></h3>
      <h3 style="color:white;"><span class="bi bi-linkedin"></span> LinkedIn: <a href="https://www.linkedin.com/in/prasad-shintre-ab262b117" style="color: aquamarine; font-weight: lighter;">prasad shintre</a></h3>
    </div>
  
</div>

<br>
  <div class="row">
    <div style="color:white; text-align: center;" class="col-md-12">
      <p>All rights reserved PrasadShintre 2022 ©</p>
    </div>
  </div>
</div>